#------CURRENT DB------
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_pass
POSTGRES_HOST=your_db_host
POSTGRES_PORT=your_db_port

# Django settings
DEBUG=True/False
ALLOWED_HOSTS=your_hosts
SECRET_KEY=your_django_key

#------MAIL DATA------
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=your_host
EMAIL_PORT=your_port
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=your_host
EMAIL_HOST_PASSWORD=you_mail_pass


