{% extends "core/base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5">
        <h2 class="text-center mb-4">Забыли пароль?</h2>
        <p class="text-center">Введите ваш email, и мы отправим ссылку для сброса пароля.</p>
        <form method="post">
            {% csrf_token %}
            {% load django_bootstrap5 %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-outline-primary w-100">Отправить</button>
            <a href="{% url 'users:login' %}" class="btn btn-outline-secondary mt-1 w-100">Вернуться ко входу</a>
        </form>
    </div>
</div>
{% endblock %}