{% extends "core/base.html" %}

{% block title %}Установка нового пароля{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5">
        <h2 class="text-center mb-4">Новый пароль</h2>
        <form method="post">
            {% csrf_token %}
            {% load django_bootstrap5 %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-outline-primary w-100">Сохранить пароль</button>
        </form>
    </div>
</div>
{% endblock %}